{config_load file="$language/lang_$language.conf" section="account_edit"}
<h1>{#heading_account#}</h1>
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<div class="highlightbox">
  <h4>{#title_personal#} <span class="midi">({#text_must#})</span></h4>
  {if $csID}
  <div class="fieldrow half">
    <div class="fieldrow_title">{#csID#}</div>
    <div class="fieldrow_entry left">{$csID}</div>
  </div>
  {/if}
  {if $gender=='1'}
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_gender#}</div>
    <div class="fieldrow_entry left">{$INPUT_MALE}{$INPUT_FEMALE}</div>
  </div>
  {/if}
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_firstname#}</div>
    <div class="fieldrow_entry left">{$INPUT_FIRSTNAME}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_lastname#}</div>
    <div class="fieldrow_entry left">{$INPUT_LASTNAME}</div>
  </div>
  {if $birthdate=='1'}
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_birthdate#}</div>
    <div class="fieldrow_entry left">{$INPUT_DOB}</div>
  </div>
  {/if}

  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_email#}</div>
    <div class="fieldrow_entry left">{$INPUT_EMAIL}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_confirm_email#}</div>
    <div class="fieldrow_entry left">{$INPUT_CONFIRM_EMAIL}</div>
  </div>

  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_tel#}</div>
    <div class="fieldrow_entry left">{$INPUT_TEL}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_fax#}</div>
    <div class="fieldrow_entry left">{$INPUT_FAX}</div>
  </div>
  {if $vat=='1'}
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_ustid#}</div>
    <div class="fieldrow_entry left">{$INPUT_VAT}</div>
  </div>
  {/if}
  <br class="clearfix" />
</div>

<div class="button_left">{$BUTTON_BACK}</div>
<div class="button_right">{$BUTTON_SUBMIT}</div>
<br class="clearfix" />
{$FORM_END}