{config_load file="$language/lang_$language.conf" section="account_password"}
<h1>{#heading_password#}</h1>
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

{$FORM_ACTION}
<div class="highlightbox">
  <h4>{#title_personal#} <span class="midi">({#text_must#})</span></h4>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_actual#}</div>
    <div class="fieldrow_entry left">{$INPUT_ACTUAL}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_new#}</div>
    <div class="fieldrow_entry left">{$INPUT_NEW}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_confirm#}</div>
    <div class="fieldrow_entry left">{$INPUT_CONFIRM}</div>
  </div>
  <br class="clearfix" />
</div>
<div class="button_left">{$BUTTON_BACK}</div>
<div class="button_right">{$BUTTON_SUBMIT}</div>
<br class="clearfix" />
{$FORM_END}