{config_load file="$language/lang_$language.conf" section="account"}
{config_load file="lang_`$language`.custom"}
<h1>{#heading_account#}</h1>
{if $error_message}<div class="errormessage">{$error_message}</div>{/if}

<div class="twoColums">
  <div class="highlightbox">
    {if !$products_history}
      <h4>{#title_welcome#}</h4>
      {if #text_welcome#}
        <p>{#text_welcome#}</p>
      {/if}
      {if $LINK_LOGIN}
        <p><a class="black" href="{$LINK_LOGIN}"><strong>{#text_login#}</strong></a></p>
      {/if}
      <br />
    {/if}
    <h4>{#title_account#}</h4>
    <ul>
      <li><a class="black" href="{$LINK_EDIT}"><strong>{#text_edit#}</strong></a></li>
      <li><a class="black" href="{$LINK_ADDRESS}"><strong>{#text_address#}</strong></a></li>
      <li><a class="black" href="{$LINK_PASSWORD}"><strong>{#text_password#}</strong></a></li>
      {if $LINK_DELETE}
      <li><a class="black" href="{$LINK_DELETE}"><strong>{#text_delete#}</strong></a></li>
      {/if}
    </ul>
  </div>

  {if $order_content}
  <br />
  <div class="highlightbox">
    <h4>{#title_orders#}</h4>
		{foreach name=aussen item=order_data from=$order_content}
    	<p><strong><a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a> / {#order_nr#}{$order_data.ORDER_ID}</strong><br />
			{#order_total#}{$order_data.ORDER_TOTAL} / {#order_status#}{$order_data.ORDER_STATUS}<br /></p>
			<div class="hr_1"></div>
		{/foreach}
		<p><a href="{$LINK_ALL}">{#text_all#}</a></p>
  </div>
  {/if}
</div>

<div class="twoColums last">
  <div class="highlightbox plainright">
    <h4>{#title_notification#}</h4>
    <ul>
      <li><a class="black" href="{$LINK_NEWSLETTER}">{#text_newsletter#}</a></li>
    </ul>
  </div>

  {if $products_history}
  <br />
  <div class="highlightbox plainright">
    <h4>{#title_viewed_products#}</h4>
    <ul>
    {foreach name=history_products item=prod_history_data from=$products_history}
      <li><a class="black" href="{$prod_history_data.PRODUCTS_LINK}">{$prod_history_data.PRODUCTS_NAME} / {$prod_history_data.PRODUCTS_PRICE}</a></li>
    {/foreach}
    </ul>
  </div>
  {/if}
</div>  