{config_load file="$language/lang_$language.conf" section="address_book_process"}
<h1>{#heading_address#}</h1>
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if} 
{$MODULE_address_book_details}


{if $delete=='1'}
<div class="highlightbox">
  lsdfjsalfjlsfdjsdlfjlsdfjsdlfjsdlafjsdalfjsdalfjsdakljfsalfjsalfjsal

  <h4>{#title_delete#}</h4>
  <p>{#text_delete#}</p>
  <h2>{#text_address#}</h2>
  <p>{$ADDRESS}</p>
</div>
{/if}

<div class="button_left">{$BUTTON_BACK}</div>
<div class="button_right">{$BUTTON_DELETE}{$BUTTON_UPDATE}</div>
<br class="clearfix" />
{$FORM_END}