{config_load file="$language/lang_$language.conf" section="address_book"}
<h1>{#heading_address#}</h1>
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<div class="highlightbox">
  <h4>{#title_standard#}</h4>
  <p>{#text_standard#}</p>
  <div class="hr"></div>
  <p>{$ADDRESS_DEFAULT}</p>
</div>

<div class="highlightbox">
  <h4>{#title_addresses#}</h4>
  {foreach name=aussen item=addresses from=$addresses_data}
  <p>
    <span class="block_rechts">{$addresses.BUTTON_EDIT}<br />{$addresses.BUTTON_DELETE}</span>
    <strong>{$addresses.NAME} {if $addresses.PRIMARY=='1'} ({#title_standard#}) {/if}</strong><br />
    {$addresses.ADDRESS}
  </p>
  <div class="hr"></div>
{/foreach}
</div>

<div class="button_left">{$BUTTON_BACK}</div>
<div class="button_right">{$BUTTON_NEW}</div>
<br class="clearfix" />
<p>{$ADDRESS_COUNT}</p>