{config_load file="$language/lang_$language.conf" section="checkout_confirmation"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="$language/lang_$language.conf" section="duty_info"}
<ul id="checkoutnavigation">
  <li class="inactive"><span class="title">1. {#title_shipping#}</span><span class="description">{#desc_shipping#}</span></li>
  <li class="inactive"><span class="title">2. {#title_payment#}</span><span class="description">{#desc_payment#}</span></li>
  <li class="active"><span class="title">3. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></li>
  <li class="inactive last"><span class="title">4. {#title_success#}</span><span class="description">{#desc_success#}</span></li>
</ul>
<br class="clearfix" />
<h1 class="checkout">{#heading_confirmation#}</h1>

<div class="twoColums">
  <div class="highlightbox plainleft">
    {#text_information#}
    {if $IP_LOG == 'true'}
    <p>{#text_ip#}&nbsp;<strong>{$CUSTOMERS_IP}</strong></p>
    {/if}
  </div>
</div>
<div class="twoColums last">
  <div class="highlightbox plainright">
    {if $REVOCATION}
      {$TEXT_AGB_CHECKOUT}
    {/if}  
  </div>
</div>
<br class="clearfix" />  

<div class="twoColums">
  <div class="highlightbox plainleft">
    <h4>{#text_shipping_address#} <a class="midi" href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></h4>
    {$DELIVERY_LABEL} 
  </div>
</div>
{if $BILLING_LABEL}
<div class="twoColums last">
  <div class="highlightbox plainright">
    <h4 class="checkout">{#text_payment_address#} <a class="midi" href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a></h4>
    {$BILLING_LABEL}
  </div>
</div>
{/if}
<br class="clearfix" /> 

{if $SHIPPING_METHOD}
<div class="twoColums">
  <div class="highlightbox plainleft">
    <h4 class="checkout">{#text_shipping_method#} <a class="midi" href="{$SHIPPING_EDIT}">{#text_edit#}</a></h4>
    {$SHIPPING_METHOD}
  </div>
</div>
{/if}
{if $PAYMENT_METHOD != ''}
<div class="twoColums last">
  <div class="highlightbox plainright">
    <h4 class="checkout">{#text_payment_method#} <a class="midi" href="{$PAYMENT_EDIT}">{#text_edit#}</a></h4>
    {$PAYMENT_METHOD}
  </div>
</div>
{/if}
<br class="clearfix" /> 

{if $ORDER_COMMENTS != ''}
<div class="twoColums">
  <div class="highlightbox plainleft">
    <h4 class="checkout">{#text_comments#} <a class="midi" href="{$PAYMENT_EDIT}">{#text_edit#}</a></h4>
    {$ORDER_COMMENTS}  
  </div>
</div>
{/if}
{if $PAYMENT_INFORMATION != ''}
<div class="twoColums last">
  <div class="highlightbox plainright">
    <h4 class="checkout">{#text_payment_info#}</h4>
    <table>
      <tr>
        {foreach name=aussen item=data from=$PAYMENT_INFORMATION}
          <td class="main">{$data.title|stripslashes}</td>
          <td>&nbsp;</td>
          <td class="main">{if $data.field}{$data.field|stripslashes}{else}&nbsp;{/if}</td>
        {/foreach}
      </tr>
    </table>
  </div>
</div>
{/if}
<br class="clearfix" /> 

<br />
<div class="highlightbox checkoutborder">  
  <h4 class="checkout">{#text_products#} <a class="midi" href="{$PRODUCTS_EDIT}">{#text_edit#}</a></h4>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="checkouttable">
    <tr class="headerrow">
      <td class="main_header chk_table_left"><b>{$smarty.const.HEADER_QTY}</b></td>
      {if $smarty.const.CHECKOUT_SHOW_PRODUCTS_IMAGES == 'true'}<td class="main_header chk_table_left">&nbsp;</td>{/if}
      <td class="main_header chk_table_left"><b>{$smarty.const.HEADER_ARTICLE}</b></td>
      <td class="main_header chk_table_right"><b>{$smarty.const.HEADER_MODEL}</b></td>
      <td class="main_header chk_table_right"><b>{$smarty.const.HEADER_SINGLE}</b></td>
      <td class="main_header chk_table_right"><b>{$smarty.const.HEADER_TOTAL}</b></td>
    </tr>
    {foreach name=aussen item=data from=$PRODUCTS_ARRAY}
    <tr>
      <td class="main_row chk_table_left width40">{$data.qty}</td>
      {if $smarty.const.CHECKOUT_SHOW_PRODUCTS_IMAGES == 'true' && $data.image != ''}<td class="main_row chk_table_left width90">{$data.image}</td>{/if}
      <td class="main_row chk_table_left">
        {$data.link}
        {if $data.order_description}<div class="small">{$data.order_description}</div>{/if}
        {if $data.shipping_time}<div class="shipping">{$smarty.const.SHIPPING_TIME} {$data.shipping_time}</div>{/if}
        {foreach key=a_data item=attrib_data from=$data.attributes}
          {if $attrib_data.value != ''}<div class="smallattributes"><i> &bull; {$attrib_data.option}: {$attrib_data.value}</i></div>{/if}
        {/foreach}
      </td>
      <td class="main_row chk_table_right width110">{$data.model}</td>
      <td class="main_row chk_table_right width110">{$data.price_formated}</td>
      <td class="main_row chk_table_right width110">{$data.final_price_formated}{if $ORDER_TAX_GROUPS > 1}<br />{$data.tax} %{/if}</td>
    </tr>
    {/foreach}
  </table>
  <div class="hr_10"></div>
  {if $TOTAL_BLOCK}
    <div class="total">
      <table align="right" border="0">
        {$TOTAL_BLOCK}
      </table>
      <br class="clearfix" />
    </div>
  {/if}
  {if $DELIVERY_DUTY_INFO == true}
    <div class="hr_10"></div>
    <div class="dutyinfo">{#text_duty_info#}</div>
  {/if}
  <div class="button_right">{$CHECKOUT_FORM}{if $MODULE_BUTTONS!=''}{$MODULE_BUTTONS}{/if}{$CHECKOUT_BUTTON}</div>
  <br class="clearfix" />
</div>
