{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
  <li class="active"><span class="title">1. {#title_shipping#}</span><span class="description">{#desc_shipping#}</span></li>
  <li class="inactive"><span class="title">2. {#title_payment#}</span><span class="description">{#desc_payment#}</span></li>
  <li class="inactive"><span class="title">3. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></li>
  <li class="inactive last"><span class="title">4. {#title_success#}</span><span class="description">{#desc_success#}</span></li>
</ul>
<br class="clearfix" />
<h1 class="checkout">{#heading_shipping#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}

{$FORM_ACTION}
<div class="twoColums">
  <div class="highlightbox">
    <h4>{#title_shipping#}</h4>
    <p>{#text_shipping#}</p>
    <p>{$SHIPPING_BLOCK}</p>
  </div>
</div>

<div class="twoColums last">
  <div class="highlightbox">
    <h4>{#title_address#}</h4>
    <p><span class="checkout_button_right">{$BUTTON_ADDRESS}</span>{$ADDRESS_LABEL}<br class="clear" /></p>
  </div>
</div>
<br class="clearfix" />
<div class="button_right">{$BUTON_CONTINUE}</div>
{$FORM_END}
