{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="$language/lang_$language.conf" section="duty_info"}
<ul id="checkoutnavigation">
  <li class="inactive"><span class="number">1.</span> <span class="title">{#title_shipping#}</span><br /><span class="description">{#desc_shipping#}</span></li>
  <li class="inactive"><span class="number">2.</span> <span class="title">{#title_payment#}</span><br /><span class="description">{#desc_payment#}</span></li>
  <li class="active"><span class="number">3.</span> <span class="title">{#title_confirmation#}</span><br /><span class="description">{#desc_confirmation#}</span></li>
  <li class="inactive last"><span class="number">4.</span> <span class="title">{#title_success#}</span><br /><span class="description">{#desc_success#}</span></li>
</ul>
<br class="clearfix" />

<h1>{#heading_confirmation#}</h1>
<p>{#text_information#}</p>
{if $IP_LOG=='true'}
<p>{#text_ip#}:&nbsp;<strong>{$CUSTOMERS_IP}</strong></p>
{/if}

<div class="full_col1">
  <h2>{#text_shipping_address#} <a class="midi" href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></h2>
  <p>{$DELIVERY_LABEL}</p>
</div>
{if $BILLING_LABEL}
<div class="full_col2">
  <h2>{#text_payment_address#} <a class="midi" href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a></h2>
  <p>{$BILLING_LABEL}</p>
</div>
{/if}
<br class="clearfix" />
<div class="full_col1">
  {if $SHIPPING_METHOD}
  <h2>{#text_shipping_method#} <a class="midi" href="{$SHIPPING_EDIT}">{#text_edit#}</a></h2>
  <p>{$SHIPPING_METHOD}</p>
  {/if}
  {if $ORDER_COMMENTS!=''}
  <h2>{#text_comments#} <a class="midi" href="{$PAYMENT_EDIT}">{#text_edit#}</a></h2>
  <p>{$ORDER_COMMENTS}</p>
  {/if}
</div>
<div class="full_col2">
  {if $PAYMENT_METHOD!=''}
  <h2>{#text_payment_method#} <a class="midi" href="{$PAYMENT_EDIT}">{#text_edit#}</a></h2>
  <p>{$PAYMENT_METHOD}</p>
  {/if}
  {if $PAYMENT_INFORMATION!=''}
  <h2>{#text_payment_info#}</h2>
  <p>{$PAYMENT_INFORMATION}</p>
  {/if}
</div>
<br class="clearfix" />

{if $REVOCATION}
<strong>{$REVOCATION_TITLE}</strong> {$REVOCATION_LINK}<br />
<strong>{$AGB_TITLE}</strong> {$AGB_LINK} 
{/if}

<h2>{#text_products#} <a class="midi" href="{$PRODUCTS_EDIT}">{#text_edit#}</a></h2>
<div class="highlightbox"> {$PRODUCTS_BLOCK}
  <div class="hr"></div>
  {$TOTAL_BLOCK} 
</div>

<div class="button_right">{$CHECKOUT_FORM}{if $MODULE_BUTTONS!=''}{$MODULE_BUTTONS}{/if}{$CHECKOUT_BUTTON}</div>
<br class="clearfix" />
