{config_load file="$language/lang_$language.conf" section="create_account"}
<h1>{#heading_create_account#}</h1>
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<div class="full_col1">
  <div class="highlightbox">
    <h4>{#title_personal#} <span class="midi">({#text_must#})</span></h4>

    {if $gender=='1'}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_gender#}</div>
      <div class="fieldrow_entry left">{$INPUT_MALE}{$INPUT_FEMALE}</div>
    </div>
    {/if}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_firstname#}</div>
      <div class="fieldrow_entry left">{$INPUT_FIRSTNAME}</div>
    </div>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_lastname#}</div>
      <div class="fieldrow_entry left">{$INPUT_LASTNAME}</div>
    </div>
    {if $birthdate=='1'}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_birthdate#}</div>
      <div class="fieldrow_entry left">{$INPUT_DOB}</div>
    </div>
    {/if}      
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_email#}</div>
      <div class="fieldrow_entry left">{$INPUT_EMAIL}</div>
    </div>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_confirm_email#}</div>
      <div class="fieldrow_entry left">{$INPUT_CONFIRM_EMAIL}</div>
    </div>

    {if $company=='1'}
    <br />
    <h4>{#title_company#}</h4>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_company#}</div>
      <div class="fieldrow_entry left">{$INPUT_COMPANY}</div>
    </div>
    {if $vat=='1'}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_ustid#}</div>
      <div class="fieldrow_entry left">{$INPUT_VAT}</div>
    </div>
    {/if}
    {/if}

    <br />
    <h4>{#title_contact#}</h4>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_tel#}</div>
      <div class="fieldrow_entry left">{$INPUT_TEL}</div>
    </div>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_fax#}</div>
      <div class="fieldrow_entry left">{$INPUT_FAX}</div>
    </div>

    <br class="clearfix" />
  </div>    
</div>
<div class="full_col2">

  <div class="highlightbox">
    <h4>{#title_address#}</h4>

    <div class="fieldrow">
      <div class="fieldrow_title">{#text_street#}</div>
      <div class="fieldrow_entry left">{$INPUT_STREET}</div>
    </div>
    {if $suburb=='1'}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_suburb#}</div>
      <div class="fieldrow_entry left">{$INPUT_SUBURB}</div>
    </div>
    {/if}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_code#}</div>
      <div class="fieldrow_entry left">{$INPUT_CODE}</div>
    </div>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_city#}</div>
      <div class="fieldrow_entry left">{$INPUT_CITY}</div>
    </div>
    {if $state=='1'}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_state#}</div>
      <div class="fieldrow_entry left">{$INPUT_STATE}</div>
    </div>
    {/if}
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_country#}</div>
      <div class="fieldrow_entry left">{$SELECT_COUNTRY}</div>
    </div>

    <br />
    <h4>{#title_newsletter#}</h4>
    <div class="fieldrow">
      <div class="fieldrow_full">{$CHECKBOX_NEWSLETTER} {#text_newsletter#}</div>
    </div>

    <br />
    <h4>{#title_password#}</h4>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_password#}</div>
      <div class="fieldrow_entry left">{$INPUT_PASSWORD}</div>
    </div>
    <div class="fieldrow">
      <div class="fieldrow_title">{#text_confirmation#}</div>
      <div class="fieldrow_entry left">{$INPUT_CONFIRMATION}</div>
    </div>

    {if $PRIVACY_CHECKBOX}
    <br />
    <div class="fieldrow">
      <div class="fieldrow_full">{$PRIVACY_CHECKBOX} <strong>{#text_privacy_accept#}</strong> {$PRIVACY_LINK}</div>
    </div>
    {/if}

  </div>
</div>
<br class="clearfix" />

<div class="button_right">{$BUTTON_SUBMIT}</div>
<br class="clearfix" />
{$FORM_END}