{config_load file="$language/lang_$language.conf" section="newsletter"}
<h1>{#heading_title#}</h1>
<p>{#heading_text#}</p>
{if $info_message!=''}<div class="errormessage">{$info_message}</div>{/if}

{$FORM_ACTION}
<div class="highlightbox">
  <div class="fieldrow half" style="height:50px;">
    <div class="fieldrow_title">{#text_sec_code#}:</div>
    <div class="fieldrow_entry left">{$VVIMG}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_sec_code#}:</div>
    <div class="fieldrow_entry left">{$INPUT_CODE}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_email#}:</div>
    <div class="fieldrow_entry left">{$INPUT_EMAIL}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">&nbsp;</div>
    <div class="fieldrow_entry left">{$CHECK_INP} {#text_in#}&nbsp;&nbsp;&nbsp;&nbsp;{$CHECK_DEL} {#text_out#}</div>
  </div>
  <br class="clearfix">
</div>
<div class="button_right">{$BUTTON_SEND}</div>
<br class="clearfix" />
{$FORM_END}