{config_load file="$language/lang_$language.conf" section="new_password"}
<h1>{$text_heading}</h1>
{if $info_message!=''}<div class="errormessage">{$info_message}</div>{/if}
{$FORM_ACTION}

<div class="highlightbox">
  <h4>{$message}:</h4>
  <p><strong>{#text_step1#}</strong><br />{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</p>
  <br />
  <div class="fieldrow half" style="height:50px;">
    <div class="fieldrow_title">{#text_sec_code#}:</div>
    <div class="fieldrow_entry left">{$VVIMG}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_sec_code#}:</div>
    <div class="fieldrow_entry left">{$INPUT_CODE}</div>
  </div>
  <div class="fieldrow half">
    <div class="fieldrow_title">{#text_email#}</div>
    <div class="fieldrow_entry left">{$INPUT_EMAIL}</div>
  </div>
  <br class="clearfix" />
</div>

<div class="button_left">{#text_continue#}</div>
<div class="button_right">{$BUTTON_SEND}</div>
<br class="clearfix" />
{$FORM_END}