{config_load file="$language/lang_$language.conf" section="reviews"}
{config_load file="lang_`$language`.custom"}
<h1>{#heading_product_reviews#} {$PRODUCTS_NAME}</h1>
<div class="pd_imagebox">
  <div class="pd_big_image">
    {if $PRODUCTS_IMAGE != ''}<a class="cbimages" title="{$PRODUCTS_NAME|onlytext}" href="{$PRODUCTS_IMAGE|replace:"info_images":"popup_images"}"><img src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME|onlytext}" /></a>{/if}
  </div>
  <div class="zoomtext">F&uuml;r eine gr&ouml;&szlig;ere Ansicht klicken Sie auf das Vorschaubild</div>
</div>
<div class="pd_content">
  <strong>{#text_date#}</strong> {$DATE}<br />
  <strong>{#text_author#}</strong> {$AUTHOR}<br />
  <strong>{#heading_product_reviews#}</strong> <a href="{$PRODUCTS_LINK}">{$PRODUCTS_NAME}</a>
</div>
<br class="clearfix" />
<div class="highlightbox">
  <h1>{#text_text#}</h1>
  <p>{$REVIEWS_TEXT}</p>
  <p><strong>{#text_rating#}</strong>{$RATING}</p>
</div>
<p>{$BUTTON_BACK}&nbsp;{$BUTTON_BUY_NOW}</p>