{config_load file="$language/lang_$language.conf" section="index"}



<div id="layout_navbar">
  <div id="layout_navbar_inner">
    {if isset($box_LANGUAGES)}<div id="languages">{$box_LANGUAGES}</div>{/if}
    <ul class="topnavigation"> 
      {if isset($account)}
        <li class="first"><a href="{$account}">{#link_account#}</a></li>
      {/if}
      {if $smarty.session.customers_status.customers_status_id == '1'}
        <li><a href="{$create_account}">{#new_customer#}</a></li>
      {/if}

      {if isset($smarty.session.customer_id)}
        <li><a href="{$logoff}">{#link_logoff#}</a></li>
      {else}
        <li><a href="{$login}">{#link_login#}</a></li>
      {/if}
    </ul>
  </div>
</div>

<div id="layout_logo">
  <div id="layout_logo_inner">
    <div id="logo"><a href="{$index}" title="{#link_index#} &bull; {$store_name}">&nbsp;</a></div>
    <div id="search">{if isset($box_SEARCH)}{$box_SEARCH}{/if}</div>
  </div>
</div>

<div id="layout_content">

{if (!strpos($smarty.server.PHP_SELF, 'checkout')) && 
    (!strpos($smarty.server.PHP_SELF, 'shopping_cart')) && 
    (!strpos($smarty.server.PHP_SELF, 'login')) && 
    (!strpos($smarty.server.PHP_SELF, 'create')) }

  <div id="col_left">
    {if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
    {if isset($box_MANUFACTURERS)}{$box_MANUFACTURERS}{/if}
    {if isset($box_LOGIN)}{$box_LOGIN}{/if}
    {if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}
    {if isset($box_SPECIALS)}{$box_SPECIALS}{/if}
    {if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}
    {if isset($box_REVIEWS)}{$box_REVIEWS}{/if}

  </div>
  <div id="col_right">
    <div id="content_navbar">
      <ul class="contentnavigation"> 
        <li class="first"><a href="{php}echo xtc_href_link(FILENAME_CONTENT, 'coID=7');{/php}">Kontakt</a></li>
        <li><a href="{php}echo xtc_href_link(FILENAME_CONTENT, 'coID=4');{/php}">Impressum</a></li>
        <li class="last"><a href="{$checkout}"><strong>{#link_checkout#}</strong></a></li>
        <li class="cart">{if isset($box_CART)}{$box_CART}{/if}</li>
      </ul>
    </div>
    {if $home}
      {if isset($BANNER)}{$BANNER}{/if}
    {else}
      <div id="breadcrumb">{if isset($navtrail)}<span class="breadcrumb_info">{#text_here#}</span> {$navtrail}{/if}</div>
    {/if}

    {if isset($main_content)}{$main_content}{/if}
   

  </div>
  <br class="clearfix" />

{else}
  <div id="col_full">

    <div id="content_navbar">
      <ul class="contentnavigation"> 
        <li class="first"><a href="{php}echo xtc_href_link(FILENAME_CONTENT, 'coID=7');{/php}">Kontakt</a></li>
        <li><a href="{php}echo xtc_href_link(FILENAME_CONTENT, 'coID=4');{/php}">Impressum</a></li>
        <li class="last"><a href="{$checkout}"><strong>{#link_checkout#}</strong></a></li>
        <li class="cart">{if isset($box_CART)}{$box_CART}{/if}</li>
      </ul>
    </div>
    <div id="breadcrumb">{if isset($navtrail)}<span class="breadcrumb_info">{#text_here#}</span> {$navtrail}{/if}</div>
    {if isset($main_content)}{$main_content}{/if}

  </div>
{/if}

</div>








<p style="margin-top:200px;">OLD VERSION</p>
<div id="wrap">
  <div id="header">
    <div id="logo"><img src="{$tpl_path}img/spacer.gif" width="400" height="115" alt="{$store_name}" /></div>
    <div id="search">{if isset($box_SEARCH)}{$box_SEARCH}{/if}</div>
  </div>
  <div id="topmenuwrap">
    <ul id="topmenu">
      <li><a href="{$index}">{#link_index#}</a></li>
      <li><a href="{$cart}">{#link_cart#}</a></li>
      {if isset($account)}
        <li><a href="{$account}">{#link_account#}</a></li>
      {/if}
      {if $smarty.session.customers_status.customers_status_id == '1'}
        <li><a href="{$create_account}">{#new_customer#}</a></li>
      {/if}
      <li><a href="{$checkout}">{#link_checkout#}</a></li>
      {if isset($smarty.session.customer_id)}
        <li><a href="{$logoff}">{#link_logoff#}</a></li>
      {else}
        <li><a href="{$login}">{#link_login#}</a></li>
      {/if}
    </ul>
    <div id="languages">{if isset($box_LANGUAGES)}{$box_LANGUAGES}{/if}</div>
  </div>
  <div id="breadcrumb">{if isset($navtrail)}{$navtrail}{/if}</div>
  <div id="contentwrap">
    {if !strstr($smarty.server.PHP_SELF, 'checkout')}
      <div id="leftcol">
        {if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
        {if isset($box_ADD_QUICKIE)}{$box_ADD_QUICKIE}{/if}
        {if isset($box_CONTENT)}{$box_CONTENT}{/if}
        {if isset($box_INFORMATION)}{$box_INFORMATION}{/if}
        {if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}
        {if isset($box_REVIEWS)}{$box_REVIEWS}{/if}
        {if isset($box_SPECIALS)}{$box_SPECIALS}{/if}
        {if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}
        {if isset($box_HISTORY)}{$box_HISTORY}{/if}
      </div>
    {/if}
    <div id="content{if strpos($smarty.server.PHP_SELF, 'checkout')}full{/if}">
      {if strstr($smarty.server.PHP_SELF, 'index')}
        {if $smarty.get.cPath == null and $smarty.get.manufacturers_id == ''}
          {if $BANNER}{$BANNER}{/if}
        {/if}
      {/if}
      {if isset($main_content)}{$main_content}{/if}
    </div>
    {if !strstr($smarty.server.PHP_SELF, 'checkout')}
      <div id="rightcol">
        {if isset($box_CART)}{$box_CART}{/if}
        {if isset($box_LOGIN)}{$box_LOGIN}{/if}
        {if isset($box_ADMIN)}{$box_ADMIN}{/if}
        {if isset($box_NEWSLETTER)}{$box_NEWSLETTER}{/if}
        {if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}
        {if isset($box_INFOBOX)}{$box_INFOBOX}{/if}
        {if isset($box_CURRENCIES)}{$box_CURRENCIES}{/if}
        {if isset($box_MANUFACTURERS_INFO)}{$box_MANUFACTURERS_INFO}{/if}
        {if isset($box_MANUFACTURERS)}{$box_MANUFACTURERS}{/if}
      </div>
    {/if}
  </div>
  <p class="footer">{$smarty.const.TITLE} &copy; {$smarty.now|date_format:"%Y"} | Template &copy; 2009-{$smarty.now|date_format:"%Y"} by <span class="cop_magenta">mod</span><span class="cop_grey">ified eCommerce Shopsoftware</span></p>
</div>
{if ($smarty.const.TRACKING_COUNT_ADMIN_ACTIVE == 'true' and $smarty.session.customers_status.customers_status_id == '0')
or $smarty.session.customers_status.customers_status_id != '0'}
  {if $smarty.const.TRACKING_PIWIK_ACTIVE == 'true'}
    {piwik url=$smarty.const.TRACKING_PIWIK_LOCAL_PATH id=$smarty.const.TRACKING_PIWIK_ID goal=$smarty.const.TRACKING_PIWIK_GOAL}
  {/if}
  {if $smarty.const.TRACKING_GOOGLEANALYTICS_ACTIVE == 'true'}
    {googleanalytics account=$smarty.const.TRACKING_GOOGLEANALYTICS_ID trackorders=true}
  {/if}
{/if}