{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="layout_footer_bestseller">
<div class="whiteline"></div>  
  <div class="inner">
      <div class="box_bestseller_footer_header">{#heading_best_sellers#}</div>
      <div class="box_bestseller_footer_line"></div>
      {foreach name=aussen item=box_data from=$box_content}
      <div class="box_bestseller_footer" {if $smarty.foreach.aussen.last} style="margin-right:0px;"{/if}>
        <div class="boxtitle">{$box_data.COUNT}. <a href="{$box_data.PRODUCTS_LINK}">{textformat wrap=18 wrap_cut=true}{$box_data.PRODUCTS_NAME}{/textformat}</a></div>
        <div class="box_bestseller_footer_image"><a href="{$box_data.PRODUCTS_LINK}">{if $box_data.PRODUCTS_IMAGE}<img src="{$box_data.PRODUCTS_IMAGE}" alt="" title="" />{/if}</a></div>  
        <div class="box_bestseller_footer_content">
          <div class="box_bestseller_footer_price">{$box_data.PRODUCTS_PRICE}</div>
          {if $box_data.PRODUCTS_VPE}<div class="box_bestseller_footer_vpe">{$box_data.PRODUCTS_VPE}</div>{/if}
          <div class="box_bestseller_footer_tax">{$box_data.PRODUCTS_TAX_INFO}{$box_data.PRODUCTS_SHIPPING_LINK}</div>
        </div>
        <div class="clearfix"></div>
      </div>
      {/foreach}
      <div class="clearfix"></div>
  </div>
</div>